.markdown-body {
  font-family: Georgia, ui-serif, serif;
}

.markdown-body p {
  font-size: 18px
}

.markdown_body h1, h2, h3 {
  font-family: ui-sans-serif, sans-serif;
}

.markdown_body h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Brush Script MT', cursive;
}

.markdown-body hr {
  background-color: #fff;
  margin: 64px 0;
}

a {
    color: #557;
    text-decoration: underline;
}

hr::after {
    display: block;
    text-align: center;
    content: '***';
    font: 1.5rem/1.6 Georgia, ui-serif, serif;
}

.trust-me-bro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

hr, .rule {
    overflow: visible;
}
