.markdown-body p {
  font-family: Georgia, ui-serif, serif;
}

.markdown-body hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: white;
    border: 0;
}

hr:after {
  display: block;
  text-align: center;
  content: '***';
  font-family: Georgia, ui-serif, serif;
}
